<%- include('./partials/header.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="https://unpkg.com/chartkick@3.2.0/dist/chartkick.js"></script>


<link rel="stylesheet" href="../css/pandemic.css">
<div class="organization-container">
    <div class="row center-row-top">
        <h1><%= data.name %></h1>
    </div>
    
        <b>Focus</b>: <%=data.focus%><br>
        <b>Type</b>: <%=data.type%><br>
        <b>Headquarters</b>: <%=data.Headquarters%><br>
        <b>budget</b>: <%=data.budget%><br>
        <b>description</b>: <%=data.description%><br> 
</div>


<script>
    if ($('.nav-item').hasClass('active')) {
        $('.nav-item').removeClass('active');
        $('#organizations_dropdown').addClass('active');
    }

</script>