<%- include('./partials/header.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="https://unpkg.com/chartkick@3.2.0/dist/chartkick.js"></script>
<!-- <%= pandemic %> -->
<input id="pandemic" value="<%= data %>" hidden />

<link rel="stylesheet" href="../css/pandemic.css" />
<div class="pandemic-container">
  <div class="row border-div">
    <div class="col-md-4 section-left">
      <div class="card border-info mb-3" style="max-width: 18rem;">
        <div class="card-header">About</div>
        <div class="card-body text-info">
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">Arpit <%=data.description%></p>
        </div>
      </div>
      <p><%= pandemic.treatment %></p>
    </div>
    <div class="col-md-4 section-center">
      <div class="row center-row-top">
        <h1><%= pandemic.name %></h1>
      </div>
      <div class="row center-row-bottom">
        <div id="pandemic-chart" class="chart_render"></div>
      </div>
    </div>
    <div class="col-md-4 section-right"></div>
  </div>
</div>

<script>
  if ($(".nav-item").hasClass("active")) {
    $(".nav-item").removeClass("active");
    $("#pandemics_dropdown").addClass("active");
  }

  var pandemic = JSON.parse($("#pandemic").val());
  console.log(pandemic);

  var cases = [];
  var deaths = [];
  var tolldata = pandemic;
  for (item in tolldata) {
    var jsonobject = [];
    jsonobject.push(tolldata[item].country, tolldata[item].cases);
    cases.push(jsonobject);
    var jsonobject = [];
    jsonobject.push(tolldata[item].country, tolldata[item].deaths);
    deaths.push(jsonobject);
  }

  Chartkick.options = {
    library: { animation: { easing: "easeOutQuart" } },
  };

  new Chartkick.BarChart("pandemic-chart", [
    { name: "Cases", data: cases },
    { name: "Deaths", data: deaths },
  ]);

  // var ctx = document.getElementById('pandemic-chart').getContext('2d');
  // var myChart = new Chart(ctx, {
  //     type: 'bar',
  //     data: {
  //         labels: ["Chocolate", "Vanilla", "Strawberry"],
  //         datasets: [
  //         {
  //         label: "Red",
  //         fillColor: "red",
  //         data: [3,7,4],
  //         backgroundColor: [
  //                 'rgba(255, 99, 132, 0.2)',
  //                 'rgba(54, 162, 235, 0.2)',
  //                 'rgba(255, 206, 86, 0.2)'
  //             ],
  //             borderColor: [
  //                 'rgba(255, 99, 132, 1)',
  //                 'rgba(54, 162, 235, 1)',
  //                 'rgba(255, 206, 86, 1)'
  //             ],
  //             borderWidth: 1
  //         }]
  //     },
  //     options: {
  //         scales: {
  //             xAxes: [
  //                 {
  //                     barThickness: 20, // number (pixels) or 'flex'
  //                     maxBarThickness: 50, // number (pixels)
  //                     gridLines: { color: "rgba(255,255,255,0.2)" },
  //                     ticks: { fontColor: "#CCC" ,  beginAtZero: true},
  //                 }
  //             ],
  //             yAxes: [
  //                 {
  //                     gridLines: { color: "rgba(255,255,255,0.2)" },
  //                     ticks: { fontColor: "#CCC",  beginAtZero: true},
  //                 }
  //             ]
  //         },
  //         responsive: true,
  //         maintainAspectRatio: true
  //     }
  // });

  //$("#pandemic_name").html(pandemic.name);
</script>
