<!DOCTYPE html>
<html>
  <head>
    <title>Patients Detail</title>
    <%- include('../partials/header.ejs') %>
    <script>
      if ($('.nav-item').hasClass('active')) {
        $('.nav-item').removeClass('active');
        $('#AddCovid').addClass('active');
      }
    </script>

<style>
  .container1 {
    width: 100%;
height: 100%;
padding: 20px 30px;
overflow: hidden;
margin-top: 40px;
background-size: cover;
/* background-color: aliceblue; */
color: black;
}
</style>
  </head>
  <body>
    <div class="container1">
      <h3><a  class="btn btn-primary" href="/patients"> Covid 19 Till Date</a></h3>
      <h1>Display Detail</h1>
      <table class="table table-striped">
        <tbody class="thead-dark">
          <tr>
            <td>ObservationDate</td>
            <td>:</td>
            <td><%= patient.ObservationDate %></td>
          </tr>
          <tr>
            <td>Province</td>
            <td>:</td>
            <td><%= patient.Province %></td>
          </tr>
          <tr>
            <td>Country</td>
            <td>:</td>
            <td><%= patient.Country %></td>
          </tr>
          
            <td>Confirmed</td>
            <td>:</td>
            <td><%= patient.Confirmed %></td>
          </tr>
          <tr>
            <td>Deaths</td>
            <td>:</td>
            <td><%= patient.Deaths %></td>
          </tr>
          <tr>
            <td>Recovered</td>
            <td>:</td>
            <td><%= patient.Recovered %></td>
          </tr>
        </tbody>
      </table>
      
      <form action="/patients/delete/<%= patient._id%>" method="post">
        <h3><a class="btn btn-warning"  href="/patients/edit/<%= patient._id%>">EDIT</a></h3>
        <button  class="btn btn-danger" type="submit">DELETE</button>
      </form>
    </div>
  </body>
</html>